In [1]:
from sklearn.externals import joblib
import numpy as np
import pandas as pd
    
# dummy instance
sex = 1
income_cat = 1 # 1750 - 1999
age = 28

In [2]:
def buildPredictionInstance(index, sex, age):
 
    arr = np.zeros(16)
    arr[index] = float(1)
    arr = np.append(arr, [sex,age])
    return arr.reshape(1,-1)

In [3]:
def buildPredictionInstance(arr, sex, age):
    np.append(arr, [sex,age])
  
    return arr_final

In [4]:
addDummyVariables(1,1,28)

NameError: name 'addDummyVariables' is not defined

In [5]:
g = buildPredictionInstance(1,1,28)

NameError: name 'arr_final' is not defined

In [6]:
g.shape

NameError: name 'g' is not defined

In [7]:
clf = joblib.load('Day-to-day money account - NB.sav') # load the classifier
ar = addDummyVariables(6,1,28)
predictedValue = clf.predict(ar)
print (predictedValue)

FileNotFoundError: [Errno 2] No such file or directory: 'Day-to-day money account - NB.sav'

In [ ]:
np.linspace(0, 100, 20)

In [8]:
import numpy as np
ar = [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,1]]
t = np.ndarray([1,5])
t

array([[1.57905585e-311, 1.48539705e-313, 0.00000000e+000,
                    nan, 1.31563739e-312]])

In [9]:
np.array(ar).shape

(1, 15)

In [10]:
# import grid search library
from sklearn.model_selection import GridSearchCV

In [11]:
import pandas
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.externals import joblib
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
dataframe = pandas.read_csv(url, names=names)
array = dataframe.values
X = array[:,0:8]
Y = array[:,8]
test_size = 0.33
seed = 7
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=test_size, random_state=seed)
# Fit the model on 33%
param_grid={'C': [0.5, 1.0]}
model = GridSearchCV(LogisticRegression(),param_grid)
#model = LogisticRegression()
model.fit(X_train, Y_train)
# save the model to disk
filename = 'finalized_model.sav'
joblib.dump(model, filename)
 
# some time later...
 
# load the model from disk
loaded_model = joblib.load(filename)
result = loaded_model.score(X_test, Y_test)
predictions = loaded_model.predict(X_test)
print(result)
print(predictions)

0.7559055118110236
[0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0.
 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1.
 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 1. 0. 0.
 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1.
 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1.
 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.
 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.
 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0.
 1. 1. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0.
 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1.]

In [12]:
X_test.shape

(254, 8)

In [13]:
str = '1250-1499'
str2 = '2000-3000'
t = str.split(sep='-')
t

['1250', '1499']

In [14]:
if int(t[0]) >= 1250 & int(t[0]) <= 1499:
    print ('yes')

yes

In [15]:
arr = [['1250-1499'], '2000-3000']

for r in arr:
    b = str.split(sep='-')
    if income >= int(b[0]) & income <= int(b[1]):
        category =

SyntaxError: invalid syntax (<ipython-input-15-e6d87f768575>, line 6)

In [20]:
z = pd.read_excel('unique_income_categories.xlsx')
z

       Net Income  Income_cat
0     1250-1499 €           1
1     5000-5999 €          10
2     2000-2499 €           4
3     3000-3499 €           6
4       750-999 €          12
5     4000-4999 €           8
6     under 500 €          15
7     1500-1749 €           2
8     1750-1999 €           3
9       500-749 €           9
10    1000-1249 €           0
11    2500-2999 €           5
12    7500-9999 €          13
13    6000-7499 €          11
14    3500-3999 €           7
15  above 10000 €          14

In [21]:
z.set_index('Net Income').T.to_dict('int')

{'Income_cat': {'1250-1499 €': 1,
  '5000-5999 €': 10,
  '2000-2499 €': 4,
  '3000-3499 €': 6,
  '750-999 €': 12,
  '4000-4999 €': 8,
  'under 500 €': 15,
  '1500-1749 €': 2,
  '1750-1999 €': 3,
  '500-749 €': 9,
  '1000-1249 €': 0,
  '2500-2999 €': 5,
  '7500-9999 €': 13,
  '6000-7499 €': 11,
  '3500-3999 €': 7,
  'above 10000 €': 14}}

In [22]:
g = z.set_index('Net Income', drop=True).T.to_dict('int')

In [23]:
g['Income_cat']

{'1250-1499 €': 1,
 '5000-5999 €': 10,
 '2000-2499 €': 4,
 '3000-3499 €': 6,
 '750-999 €': 12,
 '4000-4999 €': 8,
 'under 500 €': 15,
 '1500-1749 €': 2,
 '1750-1999 €': 3,
 '500-749 €': 9,
 '1000-1249 €': 0,
 '2500-2999 €': 5,
 '7500-9999 €': 13,
 '6000-7499 €': 11,
 '3500-3999 €': 7,
 'above 10000 €': 14}

In [24]:
p = z.iloc[:,[0,1]].values
p

array([['1250-1499 €', 1],
       ['5000-5999 €', 10],
       ['2000-2499 €', 4],
       ['3000-3499 €', 6],
       ['750-999 €', 12],
       ['4000-4999 €', 8],
       ['under 500 €', 15],
       ['1500-1749 €', 2],
       ['1750-1999 €', 3],
       ['500-749 €', 9],
       ['1000-1249 €', 0],
       ['2500-2999 €', 5],
       ['7500-9999 €', 13],
       ['6000-7499 €', 11],
       ['3500-3999 €', 7],
       ['above 10000 €', 14]], dtype=object)

In [25]:
arr = p

In [26]:
arr

array([['1250-1499 €', 1],
       ['5000-5999 €', 10],
       ['2000-2499 €', 4],
       ['3000-3499 €', 6],
       ['750-999 €', 12],
       ['4000-4999 €', 8],
       ['under 500 €', 15],
       ['1500-1749 €', 2],
       ['1750-1999 €', 3],
       ['500-749 €', 9],
       ['1000-1249 €', 0],
       ['2500-2999 €', 5],
       ['7500-9999 €', 13],
       ['6000-7499 €', 11],
       ['3500-3999 €', 7],
       ['above 10000 €', 14]], dtype=object)

In [ ]:
string_1 = list(arr[0])
s = string_1[0]
p = s.split(sep='-')
p[1].strip(' €')

In [ ]:
string_1[1]

In [28]:
income = 5002

In [16]:


def getCategory(array):

    for index,entry in enumerate(arr):
    
        entry = list(arr[index])
        string = entry[0]
      
        
        if string == 'under 500 €':
            value_1 = 0
            value_2 = 500
        
        elif string == 'above 10000 €':
            value_1 = 10000
            value_2 = value_1 * 10
            
        else:
            value = string.split(sep='-')
            value_1 = int(value[0])
            value_2 = int(value[1].strip(' €'))
      
        if (income >= value_1) & (income <= value_2):
            category = entry[1]
            return category

In [29]:
getCategory(arr)

10

In [30]:
for r in arr:
    b = str.split(sep='-')
    if income >= int(b[0]) & income <= int(b[1]):
        category = b[2]
        break

IndexError: list index out of range

In [31]:
x=[['1250-1499 €', 1],
       ['5000-5999 €', 10],
       ['2000-2499 €', 4],
       ['3000-3499 €', 6],
       ['750-999 €', 12],
       ['4000-4999 €', 8],
       ['under 500 €', 15],
       ['1500-1749 €', 2],
       ['1750-1999 €', 3],
       ['500-749 €', 9],
       ['1000-1249 €', 0],
       ['2500-2999 €', 5],
       ['7500-9999 €', 13],
       ['6000-7499 €', 11],
       ['3500-3999 €', 7],
       ['above 10000 €', 14]]

In [32]:
x

[['1250-1499 €', 1],
 ['5000-5999 €', 10],
 ['2000-2499 €', 4],
 ['3000-3499 €', 6],
 ['750-999 €', 12],
 ['4000-4999 €', 8],
 ['under 500 €', 15],
 ['1500-1749 €', 2],
 ['1750-1999 €', 3],
 ['500-749 €', 9],
 ['1000-1249 €', 0],
 ['2500-2999 €', 5],
 ['7500-9999 €', 13],
 ['6000-7499 €', 11],
 ['3500-3999 €', 7],
 ['above 10000 €', 14]]

In [40]:
buildPredictionInstance(getCategory(2000),1,55)

NameError: name 'arr_final' is not defined

In [34]:
def getSex(str):
    return 1 if str == 'male' else 0

In [35]:
getSex('female')

0

In [ ]:
s

In [36]:
getSex('male')

1

In [37]:
getSex('female')

0

In [38]:
t = buildPredictionInstance(getCategory(4599),getSex('male'), 46)

NameError: name 'arr_final' is not defined

In [ ]:
t.shape

In [41]:

def buildPredictionInstance(income, sex, age):
    assert (income > 0), "Income mustn't be below 0"
    category = getCategory(income)
    gender = getSex(sex)
    arr = np.zeros(16)
    arr[category] = float(1)
    arr = np.append(arr, [gender, age])
    return arr.reshape(1, -1)

In [48]:
t = buildPredictionInstance(0, 'male', 33)

In [49]:
t

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
         0.,  0.,  0.,  1., 33.]])